*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-family: sans-serif;
  color: #444444;
}

#root {
  max-width: 450px;
  margin: 2rem auto;
  padding: 0 1rem;
}

form {
  display: flex;
  margin-bottom: 2rem;
}

[type="text"],
button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid #cccccc;
  border-radius: 4px;

  -webkit-appearance: none;
}

button {
  margin: 0 0.5rem;
  color: white;
  background: #007bff;
  border: 2px solid #007bff;
  cursor: pointer;
}

[type="text"] {
  width: 100%;
}

[type="text"]:active,
[type="text"]:focus {
  border: 2px solid #007bff;
  outline: 0;
}

[type="checkbox"] {
  margin-right: 1rem;
  font-size: 2rem;
}

h1 {
  color: #222222;
}

ul {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  background: #f4f4f4;
  border-radius: 4px;
}

li span {
  display: inline-block;
  width: 250px;
  padding: 0.5rem;
  border: 2px solid transparent;
  border-radius: 4px;
}

li span:hover {
  background: rgba(179, 215, 255, 0.52);
}

li span:focus {
  background: rgba(179, 207, 255, 0.52);
  border: 2px solid #007bff;
  outline: 0;
}
